.bg_padrao{
    background-color: #0E2D60;
}

.bg_transparente{
  background: transparent;
  border: 1px solid white;
}

.row{
  margin: 1rem;
  padding: 1rem;
}

ul li a{
    font-weight: 600;
    margin: 0 2px;
}

ul li a:hover{
    background-color: white;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25d366;
    color: #fff;
    text-align: center;
    font-size: 28px;
    line-height: 60px;
    z-index: 999;
    transition: all 0.3s ease;
  }
  
  .whatsapp-button:hover {
    background-color: #128c7e;
  }
  
  .whatsapp-button i {
    margin-top: 16px;
  }

  .container__primeiro{
    background-image: url("/img/fundo-onda.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container__segundo{
    background-image: url("/img/fundo-onda-2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container__diferenciais{
    background-image: url("/img/fundo-gradiente.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img__svg{
    width: 100%;
    height: 40vh;
  }


  .bg_diferenciais{
    background-color: #0e2d60ce;
  }

  
